<!-- video index-->



{% extends 'base.html' %}




{% block content %}
welcome {{ user.username|default:'Guest' }}! <br/>

Recent Video
<table border="1">
	<tr><td>id</td><td>videozename</td><td>detai</td><td>File</td></tr>
{% for video in videos %}
<tr>
	<td>{{video.id}}</td>
	<td>{{video.videozename}}</td>
	<td>{{video.detai}}</td>
	<!--<td><a href="../media/{{exercise.exFile}}">download file</a></td>-->
	<td><a href="../download/{{video.exFile}}">download file</a></td>


</tr>
{% endfor %}
</table>


<hr/>
<a href="/video/upload"> Post new video</a>


{% endblock %}